@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500&family=Mina:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}
.hero {
    background-image: url(../img/averesta.png);
    background-size: cover;
    background-position: top center;
    height: 90vh;
}

h2 {
    font-weight: bold;
}

.img-pagos img {
    width: 50px;
}

.texto-footer {
    padding-top: 2rem;
}
